<%- include('header', {title: `Add Notes`}); %>

<div class="container">
  <div class="row">
    <div class="col">
      <form action="/note" method="POST">
        <div class="form-group">
          <label for="species_id">Species:</label><br />
          <select name="species_id">
            <% speciesData.species.forEach((element) => { %>
            <option value="<%= element.id %>"><%= element.name%></option>
            <% }); %></select
          ><br /><br />

          <label for="habitat">Habitat:</label><br />
          <input
            class="form-control"
            type="text"
            id="habitat"
            name="habitat"
          /><br />

          <label for="date">Date:</label><br />
          <input class="form-control" type="text" id="date" name="date" /><br />

          <label for="appearance">Appearance:</label><br />
          <input
            class="form-control"
            type="text"
            id="appearance"
            name="appearance"
          /><br />

          <label for="behaviour">Behaviour:</label><br />
          <% behaviourData.behaviours.forEach((element) => { %>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="checkbox"
              id="behavioud_id"
              name="behaviour_id"
              value="<%= element.id %>"
            />
            <label class="form-check-label for=" behavioud_id
              ><%= element.description %></label
            >
          </div>
          <% }); %><br /><br />

          <label for="vocalisations">Vocalisations:</label><br />
          <input
            class="form-control"
            type="text"
            id="vocalisations"
            name="vocalisations"
          /><br />

          <label for="flock_size">Flock Size:</label><br />
          <input
            class="form-control"
            type="text"
            id="flock_size"
            name="flock_size"
          /><br />

          <label for="create_time">Note Create Date:</label><br />
          <input
            class="form-control"
            type="text"
            id="create_time"
            name="create_time"
            value="<%- new Date().toISOString().slice(0, 10); %>"
            readonly
          /><br />

          <label for="userShow">Note Created By:</label><br />
          <input
            class="form-control"
            type="text"
            id="userShow"
            value="<%- userID[1] %>"
            readonly
          /><br />

          <input
            class="form-control"
            type="hidden"
            id="username"
            name="username"
            value="<%- userID[0] %>"
            readonly
          /><br />

          <input class="btn btn-secondary" type="submit" value="Submit" /><br />
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('footer'); %>
